h1 {
margin = 0;
padding = 0;
}

iframe {
    overflow-y:hidden;
}

nav {
	display: inline;
	font-size: 1.5em;
	font-weight: 900;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	position: relative;

}

nav li {
	align-content: center;
	display: inline;
	width: 100%;
    margin-right: 4%;
	
	/*font-size: 115%;*/
	border-radius: 3%;
margin-top: 3px;
	margin-bottom: 3px;
}

#scroller {
        position: relative;
    }

#scroller .innerScrollArea {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

#scroller ul {
        padding: 5px;
        margin: 0;
        position: relative;
    }

#scroller li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }


h1 {
	text-align: center;
	color: darkslateblue;
	font-family: serif;
/*	text-decoration: underline;*/
	border: 5px solid #000;
	font-size: 3rem;
	background: linear-gradient(180deg, red, blue);
	color: white;
	
}

hr {
display: block;
border-color: black;
margin-before: 0.5em;
margin-after: 0.5em;
border-width: 3px;
}



a:link {
    font-weight: bold;
    color: #FFFFFF;
    background-color: forestgreen;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

a:visited {
    font-weight: bold;
    color: darkviolet;
    background-color: yellow;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: blue;
	padding: 5px;
	color: white;
	
}

a:active {
    background-color: seagreen;
	padding: 5px;
	color: white;
	
}

#about_info {
	float: left;
	padding: 5px;
	width: 100% - 10px;
	border: 2px solid black;
	height: 200px;
	background-image: URL("/images/beigeparchment2.jpg")

	
	
}

#upcoming_events {
	float: left;
	margin-top: 10px;
	width: 30%;
	border: 2px solid black;
	height: 200px;
	margin-right: 10px;
}

#comic_relief {
	float: left;
/*	margin-top: 10px;*/
	width: 67%;
	border: 2px solid black;
	height: 200px;
/*	padding: 5px;*/
}


p {
padding-top: 5px;
font-family: 'Bitter', serif;
text-align: justify;
font-weight: 600;
font-size: 1.25em;
}

h2 {
	text-align: center;
	background-color: black;
	color: white;
	margin: 0;
	
}

#pain_info {
	margin: 20px;
}

#contactform {
	width: 500px;
	align-content: center;
	border: 5px solid black;
	background-color: palegreen;
	font-size: 2em;
	
}

#fancyfeed {
	color: black;
	
}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

