#marquee-container {
 width: 100%; /* or whatever you want */
 margin: 0 auto; /* centers it */
 overflow: hidden;
 white-space: nowrap;
 background-image: url(images/background_filmstrip.jpg)
backround-repeat: repeat-y;
	
}

h1 {
	text-align: center;
	color: darkslateblue;
	font-family: serif;
/*	text-decoration: underline;*/
	border: 5px solid #000;
	font-size: 3rem;
	background: linear-gradient(180deg, red, blue);
	color: white;
	
}

hr {
display: block;
border-color: black;
margin-before: 0.5em;
margin-after: 0.5em;
border-width: 3px;
}

.container {
	display: inline;
	font-size: 1.5em;
	font-weight: 900;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;

}

li {
	align-content: center;
	display: inline;
	width: 100%;
/*	margin-right: 4%;*/
	
	font-size: 115%;
/*	border-radius: 3%;*/
}

a:link {
    font-weight: bold;
    color: #FFFFFF;
    background-color: forestgreen;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

a:visited {
    font-weight: bold;
    color: darkviolet;
    background-color: yellow;
    text-align: center;
    padding: 0px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: blue;
	padding: 15px;
	color: white;
	
}

a:active {
    background-color: seagreen;
	padding: 15px;
	color: white;
	
}

#about_info {
	float: left;
	padding: 5px;
	width: 100% - 10px;
	border: 2px solid black;
	height: 200px;
	background-image: URL("/images/beigeparchment2.jpg")

	
	
}

#upcoming_events {
	float: left;
	margin-top: 10px;
	width: 30%;
	border: 2px solid black;
	height: 200px;
	margin-right: 10px;
}

#comic_relief {
	float: left;
	margin-top: 10px;
	width: 30%;
	border: 2px solid black;
	height: 200px;
}


p {
padding-top: 5px;
font-family: 'Bitter', serif;
text-align: justify;
font-weight: 600;
font-size: 1.25em;
}

h2 {
	text-align: center;
	background-color: black;
	color: white;
	
	
}

/*
.headerimgformat {
			margin: 5px;
			border: 5px solid #000;
			height: 200px;
			width: 200px;
			float: left;
			border-radius: 5%;
			box-shadow: 10px 10px 5px #888888;	
		}
*/

#pain_info {
	margin: 20px;
}



/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

