body {
	padding-top: 85px;
}

.jumbotron {
	text-align: center;
	color: white;
	background: url('/images/Sequoias.jpg');
}

.jumbotron p {
	font-size: 1.5em;
	
}

.upcomingstyle {
	width: auto;
	height: auto;
}

#about_info {
	position: relative;
}

#about_info h2 {
	text-align: center;
	
}

#about_info p {
	text-align: justify;
}

#current_news {
	position: relative;
}

#current_news h2 {
	text-align: center;
}

.glyphicon {
	font-size: 1.5em;
	display: blok;
	text-align: left;
	color: blue;
}

.adjustslidesize {
	width: 260px;
	height: 225px;
	border: solid 1px #000;
	border-radius: 4px;
}

#google_upcoming_events
{
    height: 210px;
    width: 100%;
	margin-top: 0;
}

iframe#google_upcoming_events {
	vertical-align: top;
	
}

#google_upcoming_events { vertical-align: baseline; }

#upcoming_events {
	text-align: center;
}


.index_icon_left {
	float: left;
	height: 5em;
	position: absolute;
}

.index_icon_right {
	float: right;
	height: 5em;
}

.temp_home_img {
	width: 100%;
	height: 210px;
}

/*
.slide_wrapper {
	padding-right: 50px;
}
*/
#gcal_full {
	margin-bottom: 10px;
}

.img_wrapper {
	text-align: right;
	padding-right: 20px;
	padding-top: 37.5px;
	
}

.message {
	text-align: center;
	margin-bottom: 50px;
}

.email_button {
	margin-top: 80px;
	margin-bottom: 80px;
}

.send_email a {
	font-size: 5em;
	height: 200px;
	background-color: slategray;
	color: white;
	padding-left: 157.0625px;
	padding-right: 157.0625px;
	padding-top: 61px;
	padding-bottom: 61px;
	border-radius: 5px;
	margin-bottom: 30px;
	text-decoration: none;
}

.send_email a:visited {
	color: darkblue;
}

.fill_images {
	margin-top: 110px;
}

#Louisville_Email {
	width: auto;
	height: 175px;
	text-align: left;
	margin-left: 17.5px;
	border-radius: 5px;
	float: left;
}

#sphere_img {
	margin-left: 65px;
	height: 170px;
	float: left;
}

footer {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #f8f8f8;
}

.clearfix {
  overflow: auto;
}